<ion-view style="" title="Account Information">
    <ion-content ng-controller="AccountCtrl" ng-init="getAccountInfo()" class="has-header" padding="'true'">
<!--       <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher> -->
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto;">
           <!--  <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ng-src="data:image/jpeg;base64,{{image}}"></i> -->
            <img ng-src="data:image/jpeg;base64,{{image}}" width="100%" />
        </div>
        <div style="" class="list card">
            <div class="item item-divider">User</div>
            <div class="item item-body">{{values.displayName}}</div>
        </div>
        <ion-list style="">
            <ion-item style=""> <strong>Points:</strong> {{values.userPts}}</ion-item>
            <ion-item style=""> <strong>Ranking: </strong> {{values.ranking}}</ion-item>
            <ion-item style=""> <strong>All-Time Record: </strong> {{values.record}}</ion-item>
            <ion-item style=""><strong> Current Goal: </strong> {{ values.currentGoal }} </ion-item>
        </ion-list>
        <button ng-click="uploadImage()" class="button button-block icon ion-camera">
                Upload Image
        </button>
    </ion-content>
</ion-view>
