<ion-modal-view>
 <ion-view view-title="">
    <ion-content class="padding">
        <div class="list">
            <div class="logoText">
                <img src="img/full-logo.png" class="logo" style="max-width:60%;margin-left:20%">
            </div>
        </div>

    <div class="list card" style="border:1px white solid">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Tickle &nbsp Tease</div>
      <div class="item item-body" style="color: #da645a">
        <div>
          0 points
        </div>
      </div>
    </div>
    <div class="list card" style="border:1px white solid" ng-class="{'locked' : userInfo.userPts < 100}">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Flaccid &nbsp Fingers</div>
      <div class="item item-body" style="color: #da645a" ng-class="{'locked-text' : userInfo.userPts < 100}">
        <div>
          <b>100</b> points
        </div>
      </div>
    </div>
    <div class="list card" style="border:1px white solid" ng-class="{'locked' : userInfo.userPts < 200}">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Tickle &nbsp Toddler</div>
      <div class="item item-body" style="color: #da645a" ng-class="{'locked-text' : userInfo.userPts < 200}">
        <div>
          <b>200</b> points
        </div>
      </div>
    </div>    
    <div class="list card" style="border:1px white solid" ng-class="{'locked' : userInfo.userPts < 500}">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Cruising &nbsp Speed</div>
      <div class="item item-body" style="color: #da645a" ng-class="{'locked-text' : userInfo.userPts < 500}">
        <div>
          <b>500</b> points
        </div>
      </div>
    </div>
    <div class="list card" style="border:1px white solid" ng-class="{'locked' : userInfo.userPts < 1000}">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Feel &nbsp That &nbsp Burn</div>
      <div class="item item-body" style="color: #da645a" ng-class="{'locked-text' : userInfo.userPts < 1000}">
        <div>
          <b>1000</b> points
        </div>
      </div>
    </div>
    <div class="list card" style="border:1px white solid" ng-class="{'locked' : userInfo.userPts < 5000}">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Tickle &nbsp Tyrant</div>
      <div class="item item-body" style="color: #da645a" ng-class="{'locked-text' : userInfo.userPts < 5000}">
        <div>
          <b>5000</b> points
        </div>
      </div>
    </div>
    <div class="list card locked" style="border:1px white solid">
      <div class="item item-divider" style="background-color:#151515;color:white;font-family:Bebas!important">Tickle &nbsp Torture</div>
      <div class="item item-body locked-text" style="color: #da645a!important">
        <div>
          <b>Impossible</b>
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>
</ion-modal-view>