
 <ion-modal-view>
 <ion-view view-title="" style="background-color:#151515">
    <ion-content class="padding" style="">
        <div class="list">
            <div class="logoText">
                <img src="img/full-logo.png" class="logo" style="max-width:60%;margin-left:20%">
            </div>
        </div>
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.pwdForLogin">
            </label>
            <button ng-click="signIn(user)" class="button" style="background-color:#151515;border-color:white">
                Log in
            </button>
            <button ng-click="modal.show()" class="button custom-hover">
                Sign up
            </button>
        </div>
    </ion-content>
</ion-view>
</ion-modal-view>
