<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/stopwatch" style="border:none">
          Timer
        </ion-item>
        <ion-item menu-close href="#/app/account" style="border:none">
          Account 
        </ion-item>
        <ion-item menu-close href="#/app/achievements" style="border:none">
          Achievements
        </ion-item>
        <ion-item menu-close href="#/app/scoreboard">
          Leaderboard
        </ion-item>
        <ion-item menu-close ng-click="logout()" href="">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
