<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Create New Account</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="logoText">
                <img src="img/full-logo.png" class="logo" style="max-width:60%;margin-left:20%">
            </div>
        </div>
        <div class="list card padding">
            <label class="item item-input" style="border:none">
                <input ng-model="user.displayname" type="text" placeholder="Name">
            </label>
            <label class="item item-input" style="border-left:none;border-right:none;">
                <input ng-model="user.email" type="text" placeholder="Email">
            </label>
            <label class="item item-input" style="border-left:none;border-right:none;border-bottom:none">
                <input ng-model="user.password" type="password" placeholder="Password">
            </label>
            <button class="button icon ion-ios-compose-outline" ng-click="createUser(user)"> Sign up</button>
        </div>
    </ion-content>
</ion-modal-view>