<ion-modal-view>
 <ion-view view-title="Tickle Timer">
    <ion-content class="padding">
        <div class="list">
        </div>
        <div>
            <h1 ng-class="{'completed' : curRecord >= goal}"> Goal : {{ goal }} seconds </h1>
        <div>
        <div class="list card padding">
            <button ng-click="startTimer()" class="button button-block icon ion-ios-stopwatch">
                Start Timer
            </button>
            <button ng-click="stopTimer()" class="button button-block icon ion-android-hand">
                Stop Timer
            </button>
            <button ng-click="clearTimer()" class="button button-block icon ion-ios-close">
                Clear Timer
            </button>
        </div>
        <div class ="list card padding">
            <div>
                <h4> {{min}} : {{sec}} : {{ms}} </h4>
            </div>
        </div>
        <div class ="list card padding">
            <button ng-click="submitScore()" class="button button-block icon ion-ios-close">
                Submit Time
            </button>
        </div>
    </ion-content>
</ion-view>
</ion-modal-view>