/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "Segoe";
  src: url("../lib/ionic/fonts/Segoe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas";
  src: url("../lib/ionic/fonts/Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: "Segoe" !important;
	color:white;
}

::-webkit-input-placeholder {
   color: white !important;
   opacity: .9;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;
   opacity: .9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
   opacity: .9;  
}

:-ms-input-placeholder {  
   color: white !important;
   opacity: .9;  
}

input{
	color:white;
}

.locked {
	opacity: 0.3;
}

.locked-text {
	color : red;
}

.completed {
	color: green;
}

.padding {
	background-color: #151515;
}

.button{
	background-color: #da645a ;
	border-color: #da645a;
	color:white;
	width:100%;
	margin-top:0px;
}

.button:hover, .button:active{
	background-color: #c95850 ;
	border-color: #c95850;
	color:white;
}

.button-outlined{
	background-color: rgb(0,0,0,0) ;
	border-color: #da645a;
	color:#da645a;
	width:100%;
	margin-top:5px;
}

.button-outlined:hover, .button-outlined:active{
	background-color: #c95850 ;
	border-color: #c95850;
	color:white;
}